* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login__form {
  width: 70vh;
  margin-left: 35%;
}

.tinda_logo {
  width: 20vh;
  margin-top: 10vh;
}

.login__button {
  margin-right: 60px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
}

.box-form {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-position: center;
  background-color: rgba(0, 13, 26, 0.95);
  color: white;
  min-height: 100vh;
  min-width: 100vw;
}

.box-form-main {
  background-image: url(https://thumbs.dreamstime.com/b/vector-background-seamless-pattern-hand-drawn-shopping-dood-vector-background-seamless-pattern-hand-drawn-shopping-108360469.jpg);
  min-height: 100vh;
  min-width: 100vw;
}

@media only screen and (max-width: 560px) {
  .login__form {
    width: 40vh;
    margin: 45% auto;
  }
}

@media only screen and (max-width: 700px) {
  .login__form {
    width: 50vh;
    margin: 35% auto;
  }
}
